<div class="template">
	<div class="creation">
		<div>
			<p><textarea class="formTitle" rows="2" cols="80" placeholder="Insert the form title"></textarea></p>
			<p><textarea class="description" rows="3" cols="80" placeholder="Insert the form description"></textarea></p>
			<p><textarea class="creator" rows="1" cols="40" placeholder="Insert your name"></textarea></p>
			<p><button id="submitForm">Save</button><button id="cancel">Cancel</button></p>
		</div>

		<div>
			<button id="addText">Add Text Question</button>
			<button id="addSingle">Add Single Choice Question</button>
			<button id="addMultiple">Add Multiple Choice Question</button>
		</div>

		<div id="accordion" class="questions"></div>
	</div>
</div>
