<div id="template">

  <!-- Form View -->
  <form class="form">
    <div class="formHeader">
      <h2 class="title"></h2>
      <span>
        <label>Id: </label>
        <span class="id"></span>
      </span>
      <span>
        <label>Creator: </label>
        <span class="creator"></span>
      </span>
      <span>
        <label>Creation Date: </label>
        <span class="creationDate"></span>
      </span>
      <span>
        <label>Description: </label>
        <span class="description"></span>
      </span>
    </div>
    <div class="items"></div>
    <span class="buttons">
      <input type="submit" value="Send">
      <input type="reset" value="Clear">
    </span>
  </form>

  <!-- Item View -->
  <div class="item">
    <h3 class="question"></h3>
  </div>

</div>
