<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="br.ufrj.del.geform"
    android:installLocation="internalOnly"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="17" />

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="br.ufrj.del.geform.app.FormsActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="br.ufrj.del.geform.app.FillFormActivity"
            android:label="@string/title_activity_fill"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="br.ufrj.del.geform.app.EditFormActivity"
            android:label="@string/title_activity_edit_form"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="br.ufrj.del.geform.app.EditItemActivity"
            android:label="@string/title_activity_edit_item"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="br.ufrj.del.geform.app.FormPagerActivity"
            android:label="@string/title_activity_fill"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="br.ufrj.del.geform.app.FillFormActivity" />
        </activity>
    </application>

</manifest>